<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.city{
				width:100px;
				height:100px;
				background:#c33;
				color:#fff;
				box-shadow: 3px 3px 3px #ccc;
				margin:10px;
			}
		</style>
	</head>
	<body>
		<div class="box">
			<input type="number" v-model="width"/>
			<input type="number" v-model="height"/><br />
			<input type="range" min="0" max="255" v-model="r"/><br />
			<input type="range" min="0" max="255" v-model="g"/><br />
			<input type="range" min="0" max="255" v-model="b"/>
			<div v-bind:style="{width:width+'px',height:height+'px',background:'rgb('+r+','+g+','+b+')'}">
				beijing
			</div>
			
			
			<div class="city" v-for="(item,index) in list">{{item}}---{{index}}</div>
			
		</div>
	</body>
</html>
	<script src="js/vue.js"></script>
	<script>
		var vm = new Vue({
			el:".box",
			data:{
				width:200,
				height:200,
				color:"#000",
				r:0,
				g:0,
				b:0,
				list:["北京","上海","杭州","深圳"]
				
			}
		});
		console.log(vm);
	</script>